layout {
	tab hide_floating_panes=true {
	 	pane split_direction="vertical" {
			pane size="65%" focus=true name="editor" {
				command "hx"
				args "."
			}
			pane stacked=true {
				pane name="misc"
				// todo: task filtering should be based on an env var based a workspace specific env var
				// pane name="clippy" {
				// 	command "bacon"
				// 	args "clippy"
				// } 

				// pane name="echo key" {
				// 	plugin location="file:/home/spc/projects/zellij/echo_key_plugin/target/wasm32-wasi/release/echo_key_plugin.wasm" 
				// }
				
				pane name="cheatsheet" {
					command "glow" 
					// args "~/.config/helix/cheatsheet.md"
					args "/home/spc/dotfiles/.config/helix/cheatsheet.md"
				} 
				pane name="log" {
					command "tail" 
					args "/tmp/zellij-1000/zellij-log/zellij.log" "-F"
				} 
				pane name="test" {
				 	command "bacon"
				 	args "test"
				} 
			}
		}
		pane size=2 borderless=true {
	        plugin location="status-bar"
	    }
		pane size=1 borderless=true {
	        plugin location="tab-bar"
	    }
		floating_panes {
			 pane name="wavedash" {
			 	plugin location="wavedash"
			 	x 0
			 	y 1
			 	width "100%"
			 	height "100%"
			 }
		}
	}
}

keybinds {
    shared {
      //   bind "Alt t" {
	     //    LaunchOrFocusPlugin "wavedash" {
	     //    	floating true
	    	// }
      //   }
        bind "Alt t" {
	        MessagePlugin "wavedash" {
	        	name "Wavedash"
	        }
        }
        bind "Alt f" {
	        MessagePlugin "wavedash" {
	        	name "FilePicker"
	        }
        }
        bind "Alt e" {
	        MessagePlugin "wavedash" {
	        	name "FocusEditorPane"
        	}
        }
        bind "Alt b" {
	        MessagePlugin "wavedash" {
	        	name "HxBufferJumplist"
	    	}
        }
        bind "Alt g" {
	        MessagePlugin "wavedash" {
	        	name "Git"
    	 	}
        }
        bind "Alt i" {
	        MessagePlugin "wavedash" {
	        	name "Terminal"
    	 	}
        }
        bind "Alt n" {
	        MessagePlugin "wavedash" {
	        	name "NewTerminal"
    	 	}
        }
        bind "Alt k" {
	        MessagePlugin "wavedash" {
	        	name "K9s"
    	 	}
        }
    }
}

